{% extends 'base.html' %}

{% block title %}
    فراموشی رمز عبور
{% endblock %}

{% block content %}
    <div class="container">
        <section id="form">
            <div class="row">
                <div class="forget-password">
                    <div class="col-sm-6">
                        <div class="login-form">
                            <h2>لطفاً آدرس ایمیـل خود را وارد نماییـد :</h2>
                            <form action="{% url 'forget-password' %}" method="post">
                                {% csrf_token %}
                                {{ forget_password_form.email }}
                                {{ forget_password_form.email.errors }}
                                <button type="submit" class="btn btn-default">بازیابـی کلمـه عبـور</button>
                                <span>یک ایمیـل حاوی لینک بازیابی کلمـه عبـور برای شما ارسال خواهـد شد</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}