{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
    مقالات
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">مقالات</h2>
                        {% for blog in page_obj %}
                            <div class="single-blog-post">
                                <h3>{{ blog.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-user"></i> کاربـر 1</li>
                                        <li><i class="fa fa-clock-o"></i> 17:20 ب.ظ</li>
                                        <li><i class="fa fa-calendar"></i> 28 تیـر 1397</li>
                                    </ul>
                                    <span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
                                </div>
                                <a href="">
                                    {% thumbnail blog.image "862x398" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                             alt="تصویر مقاله">
                                    {% endthumbnail %}
                                </a>
                                <p>
                                    {{ blog.short_description }}
                                </p>
                                <a class="btn btn-primary" href="">ادامـه مطلب</a>
                            </div>
                        {% endfor %}

                        <div class="pagination-area">
                            <ul class="pagination">
                                {% for foo in page_obj.paginator %}
                                    {% if page_obj.number == foo.number %}
                                        <li><a href="" class="active">{{ foo.number }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ foo.number }}">{{ foo.number }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}