{% extends 'base.html' %}
{% load render_partial %}
{% load static %}
{% load thumbnail %}
{% load poll_extras %}

{% block header_refrences %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}

{% block title %}
    مقالات
{% endblock %}


{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">
                            {% if title == '' %}
                                همه ی مقالات
                                {% else %}
                                    مقالات دسته بندی {{ title }}
                            {% endif %}
                        </h2>
                        {% for blog in page_obj %}
                            <div class="single-blog-post">
                                <h3>{{ blog.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-user"></i>{{ blog.auther }}</li>
                                        <li><i class="fa fa-clock-o"></i>{{ blog.date_created.time }}</li>
                                        <li><i class="fa fa-calendar"></i>{{ blog.date_created.date|to_jalali }}</li>
                                    </ul>
                                    <span>
										<i class="fa {% if blog.get_rating > 0 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 1 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 2 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 3 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 4 %}fa-star{% else %}fa-star-o{% endif %}"></i>
								</span>
                                </div>
                                <a href="{% url 'blog_detail' slug=blog.slug %}">
                                    {% thumbnail blog.image "862x398" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                             alt="تصویر مقاله">
                                    {% endthumbnail %}
                                </a>
                                <p>
                                    {{ blog.short_description }}
                                </p>
                                <a class="btn btn-primary" href="{% url 'blog_detail' slug=blog.slug %}">ادامـه مطلب</a>
                            </div>
                        {% endfor %}

                        <div class="pagination-area">
                            <ul class="pagination">
                                {% for foo in page_obj.paginator %}
                                    {% if page_obj.number == foo.number %}
                                        <li><a href="" class="active">{{ foo.number }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ foo.number }}">{{ foo.number }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% render_partial 'blog_module.views.category_sidebar' %}
            </div>
        </div>
    </section>
{% endblock %}