{% extends 'base.html' %}
{% load thumbnail %}
{% load render_partial %}
{% load poll_extras %}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">{{ blog.title }}</h2>
                        <div class="single-blog-post">
                            <h3>{{ blog.title }}</h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i>{{ blog.auther }}</li>
                                    <li><i class="fa fa-clock-o"></i>{{ blog.date_created.time }}</li>
                                    <li><i class="fa fa-calendar"></i>{{ blog.date_created.date|to_jalali }}</li>
                                </ul>
                                <span>
										<i class="fa {% if blog.get_rating > 0 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 1 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 2 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 3 %}fa-star{% else %}fa-star-o{% endif %}"></i>
										<i class="fa {% if blog.get_rating > 4 %}fa-star{% else %}fa-star-o{% endif %}"></i>
								</span>
                            </div>
                            {% thumbnail blog.image "862x398" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                     alt="تصویر مقاله">
                            {% endthumbnail %}
                            <p>
                                {{ blog.short_description }}
                            </p>
                            <p>
                                {{ blog.description }}
                            </p>
                        </div>
                    </div><!--/blog-post-area-->

                    <div class="rating-area">
                        {% if tags.count > 0 %}
                            <ul class="tag">
                                <li>برچسب ها :</li>
                                {% for tag in tags %}
                                    <li><a class="color" href="">{{ tag.title }} </a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div><!--/rating-area-->

                    <div class="socials-share">
                        <a href=""><img src="/static/images/blog/socials.png" alt=""></a>
                    </div><!--/socials-share-->

                    <div class="media commnets">
                        <a class="pull-right" href="#">
                            {% thumbnail blog.auther.image "100x100" crop="center" as im%}
                                <img src="{{ im.url }}" alt="تصویر نویسنده">
                            {% endthumbnail %}
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ blog.auther }}</h4>
                            <p>
                                {{ blog.auther.about_user }}
                            </p>
                            <div class="blog-socials">
                                <ul>
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                                <a class="btn btn-primary" href="">سایـر مطالب نویسنده</a>
                            </div>
                        </div>
                    </div><!--Comments-->
                    <div class="response-area" id="comment-area">
                        <h2>پاسخ ها ({{ count }})</h2>
                        <ul class="media-list">
                            {% for comment in comments.all %}
                                {% render_partial 'blog_module.views.comment_component' comment_id=comment.id %}
                            {% endfor %}
                        </ul>
                    </div><!--/Response-area-->
                    {% if request.user.is_authenticated %}
                        <div class="replay-box" id="comment-box">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-area">
                                    <div class="blank-arrow">
                                        <label>متن پیام</label>
                                    </div>
                                    <textarea name="message" rows="11" id="comment-text"></textarea>
                                    <a class="btn btn-primary" onclick="addComment({{ blog.id }})">ارسـال نظـر</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="alert alert-warning"> لطفا برای نظر دادن <a href={% url 'login-page' %}>لاگین</a>  کنید </div>
                    {% endif %}
                </div>
                {% render_partial 'blog_module.views.category_sidebar' %}
            </div>
        </div>
    </section>
{% endblock %}