{% load render_partial %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Header -->
            {% render_partial 'home_module.views.header_partial'  %}

            {% block content %}

            {% endblock %}

            {#    Footer     #}
            {% render_partial 'home_module.views.footer_partial'  %}
        </div>
    </div>

    <!-- Sidebar -->
    {% render_partial 'home_module.views.sidebar_partial'  %}

</div>


<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>