{% extends 'product_page.html' %}
{% load render_partial %}

{% block title %}
    لیست محصولات
{% endblock %}

{% block content-page %}
    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <h2 class="title text-center">لیست محصولات</h2>
            {% for product in products %}
                {% render_partial 'product' slug=product.slug %}
            {% endfor %}
            <div class="clearfix"></div>
            <ul class="pagination">
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">&raquo;</a></li>
            </ul>
        </div><!--features_items-->
    </div>
{% endblock %}