{% load render_partial %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include 'shared/header_refrences.html' %}
    <title>
        {% block title %}صفحه اصلی | فروشگاه کارزیبا{% endblock %}
    </title>
</head>
{% render_partial 'home_module.views.header_component' %}
{% block content %}
{% endblock %}
{% render_partial 'home_module.views.footer_component' %}
{% include 'shared/footer_refrences.html' %}
<body>
</body>
</html>